body {
	background-color: black;
	color: white;
	font-family: monospace;
}

th {background-color: darkgray;}

tr {background-color: dimgray;}
tr:nth-child(even) {background-color: gray;}
tr:hover {background-color: darkgray;}

td {text-align: right;}
