<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Synthetix sETH/ETH Uniswap Pool Arbitrage Rewards Calculator</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
	</head>
	<body>
		<h3><a href='../logs'>Logs</a> | <a href='../staking-rewards/1/99999999'>Uniswap sETH Staking Rewards</a></h3>
		<h3>Go to other blocks</h3>
		<div><a href='8130000'>Official(?) start block</a></div>
		<form method='get' action='/arb-rewards/' onsubmit="return false">
			<input type="number" name="startblock" value="{{ startblock }}"/>
			<input type="submit" onclick="location.href = parentElement.action + parentElement.startblock.value"/>
		</form>
		<h1>Rewards since block {{ startblock }}</h1>
		<table>
			<thead>
				<tr>
					<th>Block</th>
					<th>Address</th>
					<th>Transaction</th>
					<th>Ratio</th>
				</tr>
			</thead>
			{% for entry in rewards %}
			<tr>
				<td><a href="https://etherscan.io/block/{{ entry.block }}">{{ entry.block }}</a></td>
				<td><a href="https://etherscan.io/address/{{ entry.address }}">{{ entry.address }}</a></td>
				<td><a href="https://etherscan.io/tx/{{ entry.tx }}">{{ entry.tx }}</a></td>
				<td>{{ entry.ratio }}</td>
			</tr>
			{% endfor %}
		</table>
		<h3>Found this useful? Send me some ETH/sETH/SNX/sUSD: 0x5cCD9f49393f4544e3C9954dDdC68a6Cb21AB078</h3>
	</body>
</html>
