<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Synthetix sETH/ETH Uniswap Pool Backend Update Logs</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
	</head>
	<body>
		<h3><a href='arb-rewards/8130000'>Arbitrage Rewards</a> | <a href='staking-rewards/1/99999999'>Uniswap sETH Staking Rewards</a></h3>
		<h3>Found this useful? Send me some ETH/sETH/SNX/sUSD: 0x5cCD9f49393f4544e3C9954dDdC68a6Cb21AB078</h3>
		<h3>Logs (should be updating once an hour):</h3>
		{% for line in lines %}
		<div>{{ line.message }}</div>
		{% endfor %}
	</body>
</html>
