<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Synthetix sETH/ETH Uniswap Pool Staking Rewards Calculator</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
	</head>
	<body>
		<h3><a href='../../arb-rewards/8130000'>Arbitrage Rewards</a> | <a href='../../logs'>Logs</a></h3>
		<div>
			<h3>Go to other start/end blocks</h3>
			{% for entry in weeks %}
			{% if entry.note is defined and entry.note|length > 1 %}
				<div><a href='../{{ entry.start }}/{{ entry.end }}'>Week {{ entry.week }}</a> {{ entry.note }}</div>
			{% else %}
				<a href='../{{ entry.start }}/{{ entry.end }}'>Week {{ entry.week }}</a> | 
			{% endif %}
			{% endfor %}
			<form method='get' action='/staking-rewards/' onsubmit="return false">
				<input type="number" name="startblock" value="{{ startblock }}"/>
				<input type="number" name="endblock" value="{{ endblock }}"/>
				<input type="submit" onclick="location.href = parentElement.action + parentElement.startblock.value + '/' + parentElement.endblock.value"/>
			</form>
		</div>
		<div>
			<h3>Toggle ignore dust (< 1 ETH) providers</h3>
			<input type="checkbox" name="nodust" {% if nodust is defined and nodust is sameas true %} checked {% endif %} onchange="location.href = location.href.split('?')[0] + (this.checked ? '?nodust=True' : '');"/>
		</div>
		<div>
			<h1>Rewards for round {{ startblock }} -> {{ endblock }}</h1>
		</div>
		<table>
			<thead>
				<tr>
					<th>Address</th>
					<th>Uniswap Balance</th>
					<th>Disqualified Balance</th>
					<th>Percent of pool</th>
					<th>SNX Reward</th>
				</tr>
			</thead>
			{% for entry in rewards %}
			<tr>
				<td><a href="https://etherscan.io/address/{{ entry.address }}">{{ entry.address }}</a></td>
				<td>{{ entry.balance }}</td>
				<td>{{ entry.disqualifiedbalance }}</td>
				<td>{{ entry.percent }}%</td>
				<td>{{ entry.SNX }}</td>
			</tr>
			{% endfor %}
		</table>
		<div>Sum of UNI-V1 tokens: {{ unisum }}</div>
		<h1>Disqualified</h1>
		<table>
			<thead>
				<tr>
					<th>Address</th>
					<th>Transaction</th>
				</tr>
			</thead>
			{% for entry in disqualified %}
			<tr>
				<td><a href="https://etherscan.io/address/{{ entry.address }}">{{ entry.address }}</a></td>
				<td><a href="https://etherscan.io/tx/{{ entry.tx }}">{{ entry.tx }}</a></td>
			</tr>
			{% endfor %}
		</table>
		<h1>Addresses that withdrew more UNI-V1 tokens than they minted (possible cheaters)</h1>
		<table>
			<thead>
				<tr>
					<th>Address</th>
					<th>Transaction</th>
				</tr>
			</thead>
			{% for entry in cheaters %}
			<tr>
				<td><a href="https://etherscan.io/address/{{ entry.address }}">{{ entry.address }}</a></td>
				<td><a href="https://etherscan.io/tx/{{ entry.tx }}">{{ entry.tx }}</a></td>
			</tr>
			{% endfor %}
		</table>

		<h3>Found this useful? Send me some ETH/sETH/SNX/sUSD: 0x5cCD9f49393f4544e3C9954dDdC68a6Cb21AB078</h3>
	</body>
</html>
